* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arial, Helvetica, sans-serif";
}

body {
    width: 100%;
    background: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
}

.text-container {
    width: 800px;
    background: white;
}

.text {
    width: 100%;
    padding: 10px 100px 10px 100px;
    font-size: 18px;
    line-height: 1.4;
}

.chapter-seperator {
    width: 100%;
    margin: 40px 0 40px 0;;
    height: 37px;
    font-weight: bold;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    color: white;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: "calibri";
}

.box {
    border: 1px solid black;
    border-radius: 5px;
    width: 500px;
    padding: 20px;
}

text {
    padding-left: 8px;
}

.list-ele {
    display: flex;
    height: 48px;
    align-items: center;
}

.source {
    font-size: 16px;
    padding-left: 8px;
    font-weight: bold;
}
.img {
    width: 550px;
}
#walmart-img {
    width: 600px;
}

.notepad-img {
    width: 550px;
    margin: auto;
    display: block;
}
#google {
    width: 600px;
    margin: auto;
    display: block;
}

#search-results {
    width: 550px;
    margin: auto;
    display: block;
}

.yt {
    width: 550px;
}

.how-email-works {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.email-grid {
    height: 440px;
    width: 440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    position: relative;
}

.grid-ele {
    height: 220px;
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-items {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;

}

.grid-image {
    height: 85px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-image img {
    height: 100%;
}

.grid-text {
    width: 200px;
    font-size: 16px;
    margin: auto;
    text-align: center;
    font-style: italic;
}

.arrow {
    position: absolute;
    height: 50px;

}

#arrow1 {
    left: 85px;
    transform: rotate(270deg);
}
#arrow2 {
    right: 85px;
    top: 205px;
    transform: rotate(90deg);

}
#arrow3 {
    bottom: 90px;
    transform: rotate(180deg);
}

.landing-page-img {
}

.recurring-comm-diagram {
    width: 470px;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.recurring-ele {
    text-align: center;
    height: 120px;
    width: 400px;
    FONT-SIZE: 15px;
    position: relative;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.recur-arrow {
    transform: rotate(270deg);
    width: 50px;
}

.recur-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.recur-img {
    display: block;
}

.landing-page-diagram {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    border: 1px solid black;
    border-radius: 5px;

}

.img-border {
    border: 1px solid black;
    border-radius: 5px;
}

.landing-top {
    background: white;
    height: 5%;
    width: 100%;
}

.landing-middle {
    background: rgb(43, 142, 235);
    height: 60%;
    width: 100%;
    color: white;
    flex-direction: column;   
    display: flex;
    gap: 21px;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.landing-bottom {
    background: rgb(255, 255, 255);
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 17px;
    border-radius: 10px;
}

.landing-middle-content {
    width: 75%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-title {
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-main-title {
    line-height: 1.2;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.landing-subtitle {
    font-size: 13px;
}

.landing-ebook {
    height: 180px;
    width: 135px;
    background: silver;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    padding: 0 10px 0 10px;
    font-weight: bold;

}

.sign-up-form {
    height: 180px;
    width: 200px;
    background: rgb(53, 102, 158);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start ;
    padding: 13px 0 0 13px;

}

h4 {
    font-size: 7.7px;
}

.sign-up-form-content text {
    font-size: 8px;
}

.sign-up-form-content {
    width: 88%;
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#landing-txt {
    padding-left: 0px;
}

input {
    border-radius: 10px;
    padding-left: 11px;
    border: none;
    font-size: 8.5px;
    height: 19px;

}

::placeholder {

}

#sign-up-btn {
    height: 20px;
    width: 88px;
    align-self: flex-end;
    border: none ;
    border-radius: 10px;
    font-size: 10px; 
    background: rgb(216, 216, 216);
}

.landing-bottom-title {
    background: rgb(224, 224, 224);
    height: 25px;
    width: 155px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 11px;
    font-weight: bold;
}

.bullet-points {
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.bullet {
     width: 30%;
     height: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     gap: 15px;
}

.bullet-title {
    font-size: 9px;
    padding-left: 0;
    font-weight: bold;
}

.bullet-txt {
    font-size: 7px;
    padding-left: 0;
    text-align: center;
}

.bullet-circle {
    border-radius: 30px;
    height: 30px;
    width: 30px;
    border: 2px solid black;
}

.diagram {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.hosting-wrapper {
    height: 88%;
    width: 100%;
}

.hosting-seperator {
    width: 100%;

    border: 1px solid black;
    display: flex;
    padding-top: 20px;
}

.seperator-left {
    width: 12%;
    height: 100%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.seperator-right {
    width: 88%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0px 20px 20px 20px;
}

.seperator-right text {
    height: 40px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seperator-right-img {
    width: 400px;
    height: auto;
}

.hosting-number {
    font-size: 26px;
    font-weight: bold;
}

.traffic-strategies {
    padding: 10px 0px 10px 0px;
    border: 1px solid black;
    border-radius: 5px;
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.strategies {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    margin:auto;
    margin: auto;
    display: block;

}

h2 {
  text-align: center;
}